//
// Base
//

@require "base"

//
// Modules
//

body
  background: #000

.{meta.slug}
  // write page style here
  .wrapper
    overflow: hidden
    absolute 0 0 0 0
    margin: auto
    width: common.video.width
    height: common.video.height
    > *
      position: absolute
